@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.bao-main {
  position: absolute;
  width: 540px;
  height: 800px;
  top: 235px;
  left: 1100px;
}

.top {
  width: 1920px;
  height: 902px;
  background-color: #f7e9cf;
}

nav {
  display: flex;
  width: 1920px;
  height: 102px;
}

.logo-top1 {
  width: 70px;
  height: 95px;
  margin-top: 40px;
  margin-left: 220px;
}

.logo-top2 {
  width: 115.8px;
  height: 125.4px;
  margin-top: 16px;
  /* margin-left: -20px; */
}

.top-nav-element {
  display: flex;
  width: 205px;
  height: 20px;
  margin-top: 41px;
  margin-left: 756px;
  margin-bottom: 41px;
  gap: 30px;
}

.top-nav-element button {
  background-color: #f2e9d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: 0;
}

nav > .download-btn {
  width: 140px;
  height: 50px;
  border-radius: 40px;
  background-color: #c37890;
  margin-left: 49px;
  margin-top: 26px;
  margin-bottom: 26px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.top-text-box-main {
  width: 695px;
  height: 120px;
  margin-top: 200px;
  margin-left: 220px;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}

.top-text-box-sub {
  width: 420px;
  height: 86px;
  margin-top: 40px;
  margin-left: 220px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.download-btn {
  background-color: #c37890;
  width: 140px;
  height: 50px;
  border-radius: 40px;
  margin-top: 40px;
  margin-left: 220px;
  font-family: "Pretendard-Regular";
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  text-align: center;
  color: #ffffff;
}

.img_1 {
  width: 604.6px;
  height: 453.4px;
  border-radius: 30px;
  margin-top: 80px;
  margin-left: 260px;
}

.middle {
  display: flex;
}

.middle > div {
  margin-top: 172px;
  margin-left: 110px;
}

.middle-text-box-main {
  width: 510px;
  height: 135px;
  font-family: "Pretendard-Regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.middle-text-box-sub {
  width: 510px;
  height: 40px;
  margin-top: 30px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

h2 {
  width: 875px;
  height: 60px;
  margin-top: 120px;
  margin-left: 490px;
  font-family: "Pretendard-Regular";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #c37890;
}

h2 + p {
  width: 710px;
  height: 42px;
  margin-top: 40px;
  margin-left: 562px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.img-frame-1 {
  display: flex;
  width: 1278px;
  height: 378px;
  margin-top: 88px;
  margin-left: 280px;
  gap: 72px;
}

.img-frame-1 li {
  list-style-type: none;
}

.img-frame-1 li img {
  width: 378px;
  height: 378px;
  border-radius: 30px;
}

.img-frame-2 {
  display: flex;
  width: 1278px;
  height: 378px;
  margin-top: 72px;
  margin-left: 280px;
  gap: 72px;
}

.img-frame-2 li {
  list-style-type: none;
}

.img-frame-2 li img {
  width: 378px;
  height: 378px;
  border-radius: 30px;
}

.low-text-frame p {
  width: 290px;
  height: 30px;
  margin-top: 100px;
  margin-left: 775px;
  font-family: "Pretendard-Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.low-text-frame button {
  width: 143px;
  height: 50px;
  margin-top: 28px;
  margin-left: 848.5px;
  border-radius: 40px;
  background-color: #c37890;
  color: #ffffff;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: 0;
}

.low-text-frame + div {
  width: 1278px;
  height: 1px;
  margin-top: 80px;
  margin-left: 320px;
  background-color: #c4c4c4;
}

h3 {
  width: 300px;
  height: 45px;
  margin-top: 68px;
  margin-left: 320px;
  font-family: "Pretendard-Regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #000000;
}

h3 + p {
  width: 395px;
  height: 20px;
  margin-top: 20px;
  margin-left: 320px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #606367;
}

#slider {
  position: relative;
  overflow: hidden;
  width: 1278px; /*3834*/
  height: 520px; /*1560*/
  margin-top: 48px;
  margin-left: 320px;
  border: solid 1px black;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 12s infinite linear;
}

.slide:nth-child(1) {
  background-image: url("https://velog.velcdn.com/images/elma98/post/0648f9cd-55e9-4570-9a29-3fcd6b370994/image.jpeg");
  animation-delay: 0;
}
.slide:nth-child(2) {
  background-image: url("https://velog.velcdn.com/images/elma98/post/c40f82f1-730d-42af-a5ca-06bc1ce0a4f2/image.jpeg");
  animation-delay: -4s;
}
.slide:nth-child(3) {
  background-image: url("https://velog.velcdn.com/images/elma98/post/3d13032f-b7fb-4ca2-9d1f-ee2d6a71c7d0/image.jpeg");
  animation-delay: -8s;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.subscribe {
  display: flex;
  position: absolute;
  width: 1280px;
  height: 200px;
  margin-top: 81px;
  margin-left: 320px;
  border-radius: 30px;
  background-color: #263140;
}

.sub-text-group {
  width: 471px;
  height: 99px;
  position: absolute;
}

.sub-text-group > p:first-child {
  position: absolute;
  top: 50px;
  left: 58px;
  width: 448px;
  height: 45px;
  font-family: "Pretendard-Regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #ffffff;
}

.sub-text-group > p:last-child {
  width: 471px;
  height: 36px;
  margin-top: 113px;
  margin-left: 58px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #f2e9d8;
}

.sub-mail {
  display: flex;
  width: 530px;
  height: 60px;
  position: absolute;
  top: 69px;
  left: 692px;
  border-radius: 60px;
  background-color: #ffffff;
}

.sub-mail > img {
  width: 24px;
  height: 24px;
  margin-top: 18px;
  margin-left: 28px;
}

.sub-mail > input {
  width: 184px;
  height: 20px;
  margin-top: 20px;
  margin-left: 16px;
  border: 0;
}

.sub-mail > button {
  width: 135px;
  height: 50px;
  margin-top: 5px;
  margin-left: 137px;
  border-radius: 40px;
  background-color: #c37890;
  border: 0;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.bao-footer-img {
  width: 1920px;
  height: 475px;
  margin-top: 310px;
  /* margin-left: 120px; */
  /* opacity: 0.8; */
  /* z-index: -1; */
}

footer {
  display: flex;
  width: 1920px;
  height: 160px;
}

.logo-footer {
  width: 105;
  height: 135px;
  margin-top: 25px;
  margin-left: 320px;
}

.icon-group {
  display: flex;
  width: 228px;
  height: 42px;
  margin-top: 58px;
  margin-left: 900px;
  gap: 20px;
}

.icon-group img {
  width: 42px;
  height: 42px;
}

#modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modal-container.hidden {
  display: none;
}

#modal-content {
  background-image: url("https://velog.velcdn.com/images/elma98/post/44fbbbd2-daba-4e95-bdac-cf145480177c/image.jpeg");
  width: 650px;
  height: 1000px;
  border-radius: 30px;
}

#modal-content > img {
  width: 210px;
  height: 297.5px;
  margin-top: 190px;
  margin-left: 225px;
}

#modal-content-main {
  width: 212px;
  height: 46px;
  margin-top: 350px;
  margin-left: 224px;
  font-family: "MoveSans-Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

#modal-content-sub {
  width: 365px;
  height: 18px;
  margin-top: 12px;
  margin-left: 108px;
  font-family: "MoveSans-Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

#modal-close-btn {
  width: 183px;
  height: 50px;
  margin-top: 35px;
  margin-left: 225px;
  border-radius: 40px;
  border: 0;
  background-color: #c37890;
  font-family: "MoveSans-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
